@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb:vertical {
    @apply bg-gray-500;
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb:vertical:active {
    @apply bg-gray-600;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }